<div>

    <style>
        .phone-list-item.ng-enter,
        .phone-list-item.ng-leave,
        .phone-list-item.ng-move {
            transition: 0.5s linear all;
        }

        .phone-list-item.ng-enter,
        .phone-list-item.ng-move {
            height: 0;
            opacity: 0;
            overflow: hidden;
        }

        .phone-list-item.ng-enter.ng-enter-active,
        .phone-list-item.ng-move.ng-move-active {
            height: 120px;
            opacity: 1;
        }

        .phone-list-item.ng-leave {
            opacity: 1;
            overflow: hidden;
        }

        .phone-list-item.ng-leave.ng-leave-active {
            height: 0;
            opacity: 0;
            padding-bottom: 0;
            padding-top: 0;
        }
    </style>

    <div class="page-header">
        <h4>{{currentstate}}</h4>
    </div>
    <div class="card">
        <div class="card-header">
            List of Users
            <div class="float-right">
                <button type="button" class="btn btn-outline-primary">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                <button type="button" class="btn btn-outline-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i> Remove</button>
                <button type="button" class="btn btn-outline-success">
                    <i class="fa fa-bars" aria-hidden="true"></i> List</button>
            </div>
        </div>
        <div class="card-block">
            <table class="custom-table table-condensed">
                <thead>
                    <tr style="color:#fff; background-color: yellowgreen;height: 50px;">
                        <th></th>
                        <th>SLNO</th>
                        <th>Firstname</th>
                        <th>UserName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Password</th>
                        <th>role</th>
                        <th>Plan</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>

                        </th>

                        <th>

                        </th>

                        <th>
                            <input type="text" class="search" placeholder="Firstname" id="usr7">
                        </th>
                        <th>
                            <input type="text" class="search" placeholder="Username" id="usr6" ng-model="search">
                        </th>
                        <th>
                            <input type="text" class="search" id="usr5">
                        </th>

                        <th>
                            <input type="text" class="search" id="usr4">
                        </th>

                        <th>
                            <input type="text" class="search" id="usr3">
                        </th>
                        <th>
                            <input type="text" class="search" id="usr2">
                        </th>
                        <th>
                            <input type="text" class="search" id="usr1" ng-model="search">
                        </th>
                        <th>
                            <input type="text" class="search" id="usr0">
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in userList | filter:search" class="phone-list-item">
                        <td>
                            <input type="checkbox" ng-click="usersetting(user)" ng-checked="user.checked" ng-model="user.select">
                        </td>
                        <td>{{$index+1}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.userName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.roleCode.name}}</td>
                        <td>{{user.userPlanRef.planName}}</td>
                        <td>
                            <button type="button" ng-disabled="true" class="btn btn-outline-primary btn-sm" ng-click="updateUser(user)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>

                            <button type="button" ng-disabled="true" class="btn btn-outline-danger btn-sm" ng-click="removeUser(user)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>

                            <button type="button" class="btn btn-outline-success btn-sm">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                        </td>


                    </tr>

                </tbody>
            </table>


        </div>
    </div>
</div>