<user></user>

<br>
<br>


<div class="card">
    <div class="card-header">
        CREATE USER
    </div>
    <div class="card-block">
        <div class="form-group row">
            <label for="FirstName" class="col-2 col-form-label">FirstName</label>
            <div class="col-10">
                <input class="form-control" type="text" id="FirstName" ng-model="userOBJ.firstName">
            </div>
        </div>
        <div class="form-group row">
            <label for="LastName" class="col-2 col-form-label">LastName</label>
            <div class="col-10">
                <input class="form-control" type="text" id="LastName" ng-model="userOBJ.lastName">
            </div>
        </div>
        <div class="form-group row">
            <label for="email-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input class="form-control" type="email" placeholder="abc@gmail.com" id="email-input" ng-model="userOBJ.email">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-UserName" class="col-2 col-form-label">UserName</label>
            <div class="col-10">
                <input class="form-control" type="text" id="example-UserName" ng-model="userOBJ.userName">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-2 col-form-label">Password</label>
            <div class="col-10">
                <input class="form-control" type="password" id="password" ng-model="userOBJ.password">
            </div>
        </div>

        <div class="form-group row">
            <label for="repassword" class="col-2 col-form-label">Re Password</label>
            <div class="col-10">
                <input class="form-control" type="password" id="repassword" ng-model="userOBJ.repassword">
            </div>
        </div>

        <div class="form-group row">
            <label for="age" class="col-2 col-form-label">Age</label>
            <div class="col-10">
                <input class="form-control" type="text" id="age" ng-model="userOBJ.age">
            </div>
        </div>
        <div class="form-group row">
            <label for="example-role" class="col-2 col-form-label">Role</label>
            <div class="col-10">
                <input class="form-control" type="text" id="example-role">
            </div>
        </div>

    </div>
</div>