body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main-page-wrapper {
    width: 100%;
    max-width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 780px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
        box-shadow: 2px 2px 4px 3px #000;
    }
}

.img-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


/* .navbar-nav{
    display: block;
}
@media(min-width:568px) {
    .navbar-nav{
        display: none;
    }
} */

.navbar {
    height: 100%;
    width: 100%;
    background: rgba(0, 17, 89, 0.9);
    box-shadow: 3px 1px 8px #000;
    border-radius: 0;
    position: relative;
    max-height: 65px;
    margin-bottom: 10px;
    margin: 0px 249px;
    border: 1px solid transparent;
}

.navbar .navbar-nav-left {
    float: left;
}

.navbar .navbar-nav-left a {
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    color: #fff;
}

.navbar .navbar-nav-left ul {
    padding: 10px 0px 0px 800px;
    list-style: none;
}

.navbar .navbar-nav-left ul li {
    display: inline;
}

.side-nav {
    width: 245px;
    height: 100%;
    min-height: 900px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: transparent;
    box-shadow: 3px 1px 8px #000;
}

.side-nav .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px 65px 0px;
}

.side-nav .user-info p.name {
    text-align: center;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
}

.side-nav .user-info span.online {
    border-radius: 3px;
    background: #58d8a3;
    margin: auto;
    text-align: center;
}

.side-nav .user-info span.online:after {
    content: "Online";
    color: #fff;
    display: block;
    font-size: 10.5px;
    padding: 2px 6px 0;
}

.side-nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    transition: 0.3s;
}

.side-nav ul {
    margin: 0;
    list-style: none;
}

.side-nav ul li {
    padding: 10px;
    position: relative;
    width: 237px;
    left: -35px;
    top: 5px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.side-nav ul li:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 237px;
    left: -35px;
}

.custom-active {
    color: #fff;
    background: rgba(154, 205, 50, 0.5);
}

@media (max-width:550px) {
    a {
        font-size: 0px !important;
    }
    a i {
        font-size: 20px !important;
    }
}

.slide {
    transition: .3s;
    opacity: 1;
}

.slide.ng-enter {
    transition: .3s;
    opacity: 0;
}

.slide.ng-enter.ng-enter-active,
.slide.ng-leave {
    transition: .3s;
    opacity: 1;
}

.slide.ng-leave.ng-leave-active {
    transition: .3s;
    opacity: 0;
}

.loading-container {
    opacity: 0;
    margin-left: 500px;
    margin-top: 2%;
}

.loading-container span.loading-text {
    margin-right: 12px;
}