body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    font-family: "Arial", serif
}

#main-page-wrapper {
    width: 99%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 780px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
        box-shadow: 2px 2px 4px 3px #000;
    }
}

.img-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
/* .navbar-nav{
    display: block;
}
@media(min-width:568px) {
    .navbar-nav{
        display: none;
    }
} */

.navbar {
    height: 60px;
    width: 100%;
    background: rgba(0,17,89,0.9);
    box-shadow: 3px 1px 8px #000;
    border-radius: 0;
    position: relative;
    min-height: 50px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

.navbar .navbar-nav-left {
    float: left;

}

.navbar .navbar-nav-left a {
    text-align: center;
    padding: 14px 255px;
    text-decoration: none;
    color: #fff;

}

.navbar .navbar-nav-left ul {
    padding: 12px 0px 3px 10px;
    list-style: none;
}
.navbar .navbar-nav-left ul li {
    display: inline;
}

.side-nav {
    width: 245px;
    height: 100%;
    min-height: 780px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background:transparent;
    padding: 75px 0 0 40px;
    box-shadow: 3px 1px 8px #000;
}

.side-nav ul li a {
    text-decoration: none;
    padding: 10px 10px 10px 30px;
    color: #000;
    display: block;
    font-size: 13px;
    transition: 0.3s;
}

.side-nav ul {
    padding: 0px 0px 0px 0px;
    list-style: none;
}

.navbar .navbar-nav-right {
    float: right;
}

.navbar .navbar-nav-right a {
    text-align: center;
    padding: 0px 5px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.navbar .navbar-nav-right ul {
    padding: 17px 31px 0 0px;
    list-style: none;
}

.navbar .navbar-nav-right ul li {
    display: inline;
}