<div id="container-login-wrapper">
    <div class="main-login-wrapper">
        <div class="loading-container" id="login-loading-bar">
            <span class="loading-text">
                Loading.........
                <i class="fa fa-spinner fa-spin fa-5x"></i>
            </span>
        </div>
        <div class="login-box" id="login-wrapper">
            <h1>Login Here</h1>
            <form role="form">
                <input placeholder="Username" name="email" type="text" autofocus="" ng-model="username">
                <input placeholder="Password" name="password" type="password" ng-model="password">

                <label>Remember Me
                    <input name="remember" type="checkbox" value="Remember Me"> </label>

                <input type="submit" value="Login" ng-click="login(username,password)">
            </form>
        </div>
    </div>
</div>