<div class="main-login-wrapper">

    <div class="login-box">
        <h1>Login Here</h1>
        <form role="form">


                <input placeholder="Username" name="email" type="text" autofocus="" ng-model="username">
                <input placeholder="Password" name="password" type="password" ng-model="password">

                <label>Remember Me <input name="remember" type="checkbox" value="Remember Me"> </label>

                <input type="submit" value="Login" ng-click="login(username,password)">
        </form>


    </div>

</div>